
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
Makefile
docker/db/
/example-antropic
/env.bk_local
/var/evals/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.htaccess
